annoy
asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
imageio
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
llvmlite
matplotlib
matplotlib-inline
nest-asyncio
numba
numpy
packaging
#pacmap
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pynndescent
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
#umap-learn
wcwidth